* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* ________________Начало контента_______________ */

body {
  min-width: 100vh;
  background: linear-gradient(180deg, rgb(196, 15, 241), rgb(38, 6, 180));
}

/*header {
  position: relative;
  display: flex;
  margin: 0 auto;
  flex-direction: column;
}

nav {
  z-index: 2;
  min-width: 100vh;
  position: fixed;
  background-color: rgba(0, 0, 0, 0.384);
  border-radius: 10px;
  box-shadow: 0px 2px 3px black;
  width: 100%;
  margin-top: 30px;
}

.main {
  display: flex;
  justify-content: space-between;
}

.logo {
  margin-top: 6px;
  margin-left: 20px;
}

.btn {
  padding: 20px;
}

.btn a {
  font-size: 22px;
  display: inline-block;
  align-self: center;
  padding: 10px;
  text-decoration: none;
  color: white;
  border: 1px solid white;
  border-radius: 15px;
}

.Home {
  margin-right: 50px;
  text-align: center;
  width: 80px;
}

.NFT {
  width: 80px;
  text-align: center;
}
.fon {
  display: flex;
  background-image: url(/Пост\ аниме.png);
  background-size: cover;
}

.info {
  margin: 0 auto;
  max-width: 80%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.Text {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  line-height: 24px;
  padding: 20px;
  border: 1px solid white;
  border-radius: 10px;
  background-color: rgba(196, 15, 241, 0.288);

  box-shadow: 4px 4px 10px black;
}
.Text h1 {
  line-height: 50px;
  font-size: 24px;
}
.btn_1 {
  cursor: pointer;
  padding: 12px 20px;
  border-radius: 30px;
  border: none;
  background-image: linear-gradient(80deg, #ff4206, #261b6c);
  color: white;
  z-index: 1;
  transition-duration: 1s;
  transition-property: all;
}
.btn_1:hover {
  background-image: linear-gradient(80deg, #ff4006ce, #261b6cce);
  background-color: black;
  padding: 14px 22px;
  margin: -2px 0;
}*/

/* ________второй блок________________________________________ */

.site {
  margin-top: -30px;
}
.block_1 {
  display: flex;
  max-width: 80%;
  margin: 0 auto;
  justify-content: space-between;
}
.block {
  z-index: 1;
  background: rgb(38, 6, 180);
  text-align: center;
  width: 400px;
  height: 400px;
  border: 2px solid white;
  border-radius: 10px;
  box-shadow: 4px 4px 15px black;
  cursor: pointer;
  transition-duration: 1s;
}

.block:hover {
  background: rgb(87, 21, 68);
  margin: -10px 0 0 0;
  border: none;
}
/* _________block _3______________ */
.block_3 {
  max-width: 80%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 100vh;
}
.text_3 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  line-height: 24px;
  padding: 20px;
  max-width: 500px;
  border: 1px solid white;
  border-radius: 10px;
  border-right: 3px solid white;
  border-bottom: 3px solid white;
}

.image_Airdrop img {
  width: 500px;
  border-radius: 10px;
  animation: signal;
  animation-duration: 4s;
  animation-iteration-count: infinite;
  transition-duration: 1s;
  transition-property: all;
}
@keyframes signal {
  0% {
    box-shadow: 0px 0px 50px white;
  }
  25% {
    box-shadow: 0px 0px 50px rgb(15, 184, 65);
  }
  50% {
    box-shadow: 0px 0px 50px rgb(219, 13, 13);
  }
  75% {
    box-shadow: 0px 0px 50px rgb(8, 154, 199);
  }
  100% {
    box-shadow: 0px 0px 50px white;
  }
}

.image_Airdrop img:hover {
  box-shadow: 4px 4px 10px black;
  width: 600px;
  margin-right: 400px;
}

/* _______________mint________________ */
.mint_info {
  display: flex;
  align-items: center;
  position: relative;
  justify-content: center;
}
.h2_o {
  position: absolute;
  font-size: 60px;
  animation: vol;
  animation-duration: 1.5s;
  animation-iteration-count: infinite;
  text-shadow: 0 0 10px white;
}

@keyframes vol {
  0% {
    text-shadow: transparent;
  }
  10% {
    text-shadow: 0 0 10px rgb(66, 5, 5);
  }
  20% {
    text-shadow: 0 0 20px rgb(110, 47, 47);
  }
  30% {
    text-shadow: transparent;
  }
  40% {
    text-shadow: transparent;
  }
  50% {
    text-shadow: 0 0 10 px rgb(85, 8, 8);
  }
  60% {
    text-shadow: 0 0 20 px rgb(114, 69, 69);
  }
  70% {
    text-shadow: transparent;
  }
  80% {
    text-shadow: transparent;
  }
  90% {
    text-shadow: 0 0 10 px rgb(88, 15, 15);
  }
  100% {
    text-shadow: transparent;
  }
}

.mint {
  background-image: url(https://i.pinimg.com/originals/45/e6/b8/45e6b85207aa4af2f8dbd3b76c0525e0.gif);
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  max-width: 80%;
  margin: 0 auto 100px auto;
  border: 1px solid white;
  border-radius: 10px;
  box-shadow: 10px 10px 50px white;
  z-index: 1;
  transition-duration: 1s;
}
.mint:hover {
  opacity: 30%;
}

.MuiContainer-root {
  padding: 0 !important;
  box-shadow: 4px 4px 10px white;
  border-radius: 10px !important;
}

.root {
  margin: auto 50px auto 50px;
}
.about_mint {
  max-width: 50%;
  max-height: 50%;
}
.about_mint h2,
.p_mint {
  font-family: Arial, Helvetica, sans-serif;
  text-shadow: 4px 4px 10px white;
  line-height: 24px;
}
.about_mint p {
  font-size: 20px;
}
/* _________footer_____________ */
footer {
  background-color: rgba(0, 255, 255, 0.199);
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-top: 30px;
  padding-bottom: 30px;
}
footer h2 {
  max-width: 30%;
  margin: 0 auto;
}
.footer {
  max-width: 30%;
  margin: 0px auto 20px auto;
}
